// Variables

$primary: #ffc636;
$secondary: #0a0b5b;
$text: #dddbff;
$text-secondary: #9893d8;

// Reset
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

// Base Styles

body {
  background: $secondary;
  color: $text;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

.button {
  display: inline-block;
  background: none;
  color: $primary;
  padding: 6px 12px;
  border: 2px solid $primary;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba($color: #000000, $alpha: 0.6);
  cursor: pointer;
  &:hover {
    color: #222;
    background: $primary;
  }
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid $text-secondary;
  resize: none;
  color: $text;
  outline: none;
}
::placeholder {
  color: darken($color: $text-secondary, $amount: 10);
}

// Fonts
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text;
  font-weight: normal;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}
h4,
h5,
.leading {
  font-size: 1.1em;
}

p,
a,
li {
  color: $text-secondary;
}

// Mobile Styles
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.site-nav {
  margin: 0 20px;

  ul {
    display: none;
  }
  h1 {
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid $primary;
  }
}

.welcome {
  padding: 0 20px 20px;
  .welcome-text {
    grid-column: 1/6;
  }
  .welcome-img {
    grid-column: 6/9;
    img {
      width: 200%; // display image 200% of the grid wdith
    }
  }
  .button {
    margin: 20px 0;
  }
}

.portfolio {
  background: url("../images/square_bg.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 30px 20px;

  h3 {
    margin-bottom: 0;
    text-align: center;
  }
  h4 {
    color: $text-secondary;
  }

  a {
    grid-column: 1/9;
    margin: 20px 0;
    display: flex;
    align-items: center;
  }
  a * {
    margin: 0 20px;
    max-width: 40%;
  }
}

.skills {
  padding: 30px 20px;
  background: #07083e;

  h3 {
    text-align: center;
  }

  ul {
    margin: 40px 0;

    li {
      padding: 10px;
      grid-column: span 4; // we defined 8 columns grid. let each item take 4 columns space using span. 1/4 would tell them to take 4 columns from beginning of the grid.
      text-align: center;
      background: rgba($color: #000000, $alpha: 0.2);
    }

    img {
      height: 80px;
      margin: 10px auto;
    }
  }
}

.contact {
  text-align: center;
  form {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    * {
      margin-bottom: 10px;
    }

    .button {
      margin: 10px auto;
      width: 200px;
    }
  }
}

// Small tablet Styles
@media (min-width: 620px) {
}

// laptop & large Table Styles
@media (min-width: 960px) {
  body {
    font-size: 18px;
  }
}

// Desktop Styles
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
