body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #0a0b5b;
  color: #dddbff;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

.button {
  display: inline-block;
  background: none;
  color: #ffc636;
  padding: 6px 12px;
  border: 2px solid #ffc636;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.button:hover {
  color: #222;
  background: #ffc636;
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  resize: none;
  color: #dddbff;
  outline: none;
}

::-webkit-input-placeholder {
  color: #746eca;
}

:-ms-input-placeholder {
  color: #746eca;
}

::-ms-input-placeholder {
  color: #746eca;
}

::placeholder {
  color: #746eca;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #dddbff;
  font-weight: normal;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4,
h5,
.leading {
  font-size: 1.1em;
}

p,
a,
li {
  color: #9893d8;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.site-nav {
  margin: 0 20px;
}

.site-nav ul {
  display: none;
}

.site-nav h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffc636;
}

.welcome {
  padding: 0 20px 20px;
}

.welcome .welcome-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

.welcome .welcome-img {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
}

.welcome .welcome-img img {
  width: 200%;
}

.welcome .button {
  margin: 20px 0;
}

.portfolio {
  background: url("../images/square_bg.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.portfolio h3 {
  margin-bottom: 0;
  text-align: center;
}

.portfolio h4 {
  color: #9893d8;
}

.portfolio a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio a * {
  margin: 0 20px;
  max-width: 40%;
}

.skills {
  padding: 30px 20px;
  background: #07083e;
}

.skills h3 {
  text-align: center;
}

.skills ul {
  margin: 40px 0;
}

.skills ul li {
  padding: 10px;
  grid-column: span 4;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.skills ul img {
  height: 80px;
  margin: 10px auto;
}

.contact {
  text-align: center;
}

.contact form {
  width: 80%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
}

.contact form * {
  margin-bottom: 10px;
}

.contact form .button {
  margin: 10px auto;
  width: 200px;
}

@media (min-width: 960px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */